<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ui_drag&amp;drop_project/src/com/automationFramework/ModuleTc.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.automationFramework.ModuleTc"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ui_drag&amp;drop_project"/>
</launchConfiguration>
